.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #282C34;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
  margin-top: -17px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

input[type=text] {
  padding: 10px;
  margin: 8px 10px 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
  width: 300px;
}

button {
  background-color: #1976D2; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 8px 10px 0 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

.mr-1 {
  margin-right: 10px;
}

.card-container {
  display: block;
  margin-top: 16px;
  width: 100%;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 100%;
  padding: 5px 16px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-list {
  display: block;
}

.tags {
  font-size: 11px;
  color: darkgrey;
  margin-top: -5px;
}

.todo {
  color: white;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color:grey;
}

.progress {
  color: white;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: coral;
}

.done {
  color: white;
  font-size: 11px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: green;
}

.component {
  width: 100%;
}